.divCorazon{
    width: 10%;
    height: 10%;
}
.btn{
    font-weight: bolder;
    background-color: lightblue;
    color:white;
    border-radius: 25px;
    border:0;
    padding: 1em; 
}
.btn:hover{
    background-color: black;
}

.btnBuscar{
    font-weight: bolder;
    background-color: cadetblue;
    color:white;
    border-radius: 25px;
    border:0;
    padding: 1em; 
}
.btnBuscar:hover{
    background-color: black;
}
#pagPrincipal{
    position: absolute;
}
#pagSecundaria{
    position: absolute;
    left: -100%;
}
.divImagen{
    width: 500px;
}